@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* Landing page publik */
    --font-jakarta: 'Plus Jakarta Sans', 'Inter', ui-sans-serif, system-ui, sans-serif;

    --color-brand-50: #f0f7ff;
    --color-brand-100: #e0effe;
    --color-brand-500: #0284c7;
    --color-brand-600: #006cb8;
    --color-brand-700: #005596;
    --color-brand-800: #004377;
    --color-brand-900: #003159;

    --color-brand-blue: #0066c4;
    --color-brand-dark-blue: #0052a3;
    --color-brand-red: #ff4d4d;
    --color-brand-green: #28c76f;
}

/* Subtle Card Shadows from Figma */
.figma-card-shadow {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
}

/* Landing page publik */
@utility dot-pattern {
    background-image: radial-gradient(#0066c4 1.5px, transparent 1.5px);
    background-size: 12px 12px;
}

@utility card-shadow {
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.08);
}

@utility floating-button-shadow {
    box-shadow: 0 8px 25px rgba(0, 102, 196, 0.3);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}
